{% extends "base.html" %}
{% load static %}
{% block title %}My Profile{% endblock title %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link tab-link active" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true">
                    <i class="fas fa-user"></i> My Profile
                </a>
                <a class="nav-link tab-link" id="v-pills-details-tab" data-bs-toggle="pill" href="#v-pills-details" role="tab" aria-controls="v-pills-details" aria-selected="false">
                    <i class="fas fa-edit"></i> Update Profile
                </a>
                <a class="nav-link tab-link" id="v-pills-password-tab" data-bs-toggle="pill" href="#v-pills-password" role="tab" aria-controls="v-pills-password" aria-selected="false">
                    <i class="fas fa-key"></i> Change Password
                </a>
                <a class="nav-link tab-link text-danger" id="v-pills-delete-tab" data-bs-toggle="pill" href="#v-pills-delete" role="tab" aria-controls="v-pills-delete" aria-selected="false">
                    <i class="fas fa-trash"></i> Delete Account
                </a>
            </div>
        </div>

        <!-- Main Content -->
        <div class="col-md-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    {% include "customer/components/view-profile.html" with title="My Profile" icon_class="fas fa-user" %}
                </div>

                <div class="tab-pane fade" id="v-pills-details" role="tabpanel" aria-labelledby="v-pills-details-tab">
                    {% include "customer/components/update-profile.html" with title="Update Profile" icon_class="fas fa-user-edit" %}
                </div>

                <div class="tab-pane fade" id="v-pills-password" role="tabpanel" aria-labelledby="v-pills-password-tab">
                    {% include "customer/components/change-password.html" with title="Change Password" icon_class="fas fa-key" %}
                </div>

                <div class="tab-pane fade" id="v-pills-delete" role="tabpanel" aria-labelledby="v-pills-delete-tab">
                    {% include "customer/components/delete-account.html" with title="Delete Account" icon_class="fas fa-trash" %}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static "customer/javascript/script.js" %}"></script>
{% endblock content %}
