{% extends "base.html" %}
{% block content %}
<div class="container my-5 form-max-width">
    <h2 class="text-center mb-3">Register</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
        </div>
        <div class="mb-3">
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
        </div>
        <div class="mb-3">
            {{ form.street.label_tag }}
            {{ form.street }}
        </div>
        <div class="mb-3">
            {{ form.house_number.label_tag }}
            {{ form.house_number }}
        </div>
        <div class="mb-3">
            {{ form.city.label_tag }}
            {{ form.city }}
        </div>
        <div class="mb-3">
            {{ form.zip_code.label_tag }}
            {{ form.zip_code }}
        </div>
        <div class="mb-3">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="mb-3">
            {{ form.phone_number.label_tag }}
            {{ form.phone_number }}
        </div>
        <div class="mb-3">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <div class="mb-3">
            {{ form.confirm_password.label_tag }}
            {{ form.confirm_password }}
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
{% endblock content %}
