<div class="container my-5 form-max-width">
    <h2 class="text-center mb-3">Delete Account</h2>
    <form method="post" action="{% url 'delete_account' %}">
        {% csrf_token %}
        <div class="alert alert-danger">
            <p>Are you sure you want to delete your account? This action cannot be undone.</p>
        </div>
        <button type="submit" class="btn btn-danger">Delete Account</button>
        <a href="{% url 'profile' %}" id="cancel-account-delete-button" class="btn btn-secondary">Cancel</a>
    </form>
</div>
