{% extends "includes/card-component.html" %}
{% block card_content %}
<form method="post" action="{% url 'profile' %}">
    {% csrf_token %}
    {% for field in profile_form %}
    <div class="mb-3">
        {{ field.label_tag }}
        {{ field }}
        <div class="text-danger">
            {{ field.errors }}
        </div>
    </div>
    {% endfor %}
    <div class="text-end">
        <button type="submit" class="btn btn-primary" name="update_profile">Update Profile</button>
    </div>
</form>
{% endblock %}