{% load cart_tags %}

{% get_is_in_cart product.id as in_cart %}
<button type="{% if in_cart %}button{% else %}submit{% endif %}"
    class="btn btn-sm {% if in_cart %}btn-success{% else %}btn-primary{% endif %}"
    data-product-id="{{ product.id }}"
    {%if not product.stock %}disabled{% endif %}
    {% if in_cart %}onclick="window.location.href='{% url 'cart_detail' %}'"{% endif %}>

    {% if in_cart %}
    <i class="fas fa-check"></i> In Cart
    {% else %}
    <i class="fas fa-cart-plus"></i> Add to Cart
    {% endif %}
</button>