{% load static %}

<div class="card h-100">
    <a href="{% url "product-details" product.slug %}">
        <img
        src="{{ product.image.url }}"
        class="card-img-top"
        alt="{{ product.name }}"
        onerror="this.onerror=null;this.src='{% static 'shop/images/placeholder-image.jpg' %}';"
        />
    </a>
    <div class="card-body d-flex flex-column">
        <h5 class="card-title text-center">{{ product.name }}</h5>
        <p class="card-text text-truncate">{{ product.description }}</p>
        <div class="mt-auto d-flex justify-content-between align-items-center">
            <span class="price">€{{ product.price }}</span>
            <a href="{% url "product-details" product.slug %}" class="btn btn-primary btn-sm">
                <i class="fas fa-cart-plus"></i> Add to Cart
            </a>
        </div>
    </div>
</div>