/* Main styles */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}  

/* Top banner */
.top-banner {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}

/* Navigation */
.btn-no-border-outline {
    border: none;
    outline: none;
}

.fa-search {
    color: #727272;
}

/* Product card */
.btn-icon {
    background: none;
    border: none;
    padding: 0;
    color: #727272;
    font-size: 1.5rem;
}
.btn-icon:hover {
    color: #727272;
}