{% extends "shop/base/base.html" %}
{% comment %} {% load static %} {% endcomment %}

{% block title %}Shop title{% endblock title %}

{% comment %} {% block site_css %} {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static '' %}"> {% endcomment %}
{% comment %} {% endblock site_css %} {% endcomment %}

{% block content %}
<div class="container">
    {% for product in products %}
    {% include "shop/components/product-card.html" %}
    {% endfor %}
</div>
{% endblock content %}